<!doctype html>
<html>
<head>
	<title>Fechadura Eletrônica</title>
	{{! colocar aqui algum CSS para embelezar a página }}
	{{!	<link rel="stylesheet" href="/css/main.css"> }}
</head>
<body>
	<header>
		<h1>Fechadura Eletrônica</h1>
	</header>
	{{{body}}}
</body>

